BOT_TOKEN=ващ_токен_от_BotFather
KINOPOISK_API_KEY=ваш_ключ_от_poiskkino.dev
DB_NAME=series_bot
DB_USER=bot_user
DB_PASSWORD=bot_password
DB_HOST=db
TMDB_IGNORE_SSL=true
TMDB_BASE_URL=https://api.tmdb.org/3
